.editorInput {
  padding: 0;
  margin-right: 10px;
  font-size: 2em;
  max-width: 200px;
}

.editorForm {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.editorBtnForm {
  margin-top: 20px;
}
